<div class="row">
  <div class="col-sm-6">
    <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <h1>Sign In</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>
      <p>
        <%= f.label :email, class: "control-label sr-only" %>
        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      </p>
      <p>
        <%= f.label :password, class: "control-label sr-only" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </p>
      <p>
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>