<div class="panel panel-default">
  <div class="panel-heading" id="admin_members_head">
    <h2 class="panel-title">
      <a data-toggle="collapse" href="#admin_members" aria-expanded="true" aria-controls="admin_members">Members</a> | <span><%= link_to 'Create member or admin', :new_admin_member %></span>
    </h2>
  </div>
  <div id="admin_members" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="admin_members_head">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Member Name</th>
            <th>Email</th>
            <th>Member Since</th>
            <th>Listings Managed</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= link_to member.full_name, member_profile_path(member) %></td>
              <td><%= member.email %></td>
              <td><%= member.created_at %></td>
              <td>
                <% if member.is_administrator? %>
                  <i class="fa fa-unlock"></i> Admin
                <% else %>
                  <%= member.listings.approved.length %>
                <% end %>
              </td>
              <td>
                <% unless member.is_administrator %>
                  <%= link_to "Delete", admin_destroy_member_path(member), data: { confirm: "Are you sure? This will delete the user's account." }, class: 'btn btn-mini btn-danger', method: :delete %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @members %>
    </div>
  </div>
</div>