<% meta title: "Admin Dashboard" %>
  <%= render 'members/adminheader' %>
  <%= render 'members/adminnav' %>
  <div class="row">
    <div class="col-md-9">
      <%= render 'members/adminpendingclaims' %>
      <%= render 'members/adminpendingratings' %>
    </div>
    <div class="col-md-3">
      <%= render 'members/membersidebar' %>
    </div>
  </div>